<div class="form-success hide" data-reset-success>
  {{ 'customer.recover_password.success' | t }}
</div>

<div data-login-form>
  {% form 'customer_login' %}
    <h1>{{ 'customer.login.title' | t }}</h1>

    {{ form.errors | default_errors }}

    <label for="CustomerEmail">
      {{ 'customer.login.email' | t }}
    </label>
    <input
           autocapitalize="off"
           autocomplete="home email"
           autofocus
           class="{% if form.errors contains 'email' %}input-error{% endif %}"
           id="CustomerEmail"
           name="customer[email]"
           spellcheck="false"
           type="email">

    {% if form.password_needed %}
      <label for="CustomerPassword">
        {{ 'customer.login.password' | t }}
      </label>
      <input class="{% if form.errors contains 'password' %}input-error{% endif %}"
             id="CustomerPassword"
             name="customer[password]"
             type="password">
    {% endif %}

    <button type="submit" class="button">{{ 'customer.login.sign_in' | t }}</button>
    <div>
      <a href="/">{{ 'customer.login.cancel' | t }}</a>

      <a href="/account/register">
        {{ 'layout.customer.create_account' | t }}
      </a>

      {% if form.password_needed %}
        <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
      {% endif %}
    </div>
  {% endform %}

</div>

<div class="hide" data-recover-form>
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide" data-form-state></span>
    {% endif %}

    <label for="RecoverEmail">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input
           autocomplete="home email"
           autocapitalize="off"
           id="RecoverEmail"
           name="email"
           spellcheck="false"
           type="email">

    <button type="submit" class="button" >{{ 'customer.recover_password.submit' | t }}</button>

    <button type="button" data-recover-toggle>
      {{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}

</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <button type="submit" class="button">{{ 'customer.login.guest_continue' | t }}</button>
  {% endform %}
{% endif %}
